<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Proposal Payments</h5>
        </div>
        <div class="card-body">

          <form #proposalPaymentsForm="ngForm" novalidate (ngSubmit)="onSubmit()">

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label class="pl-2" for="hash">Hash</label>
                  <input #hash="ngModel" [(ngModel)]="model.hash" required name="hash" type="text" [class.is-invalid]="hash.invalid && hash.touched"
                    class="form-control" placeholder="caf6edec6897869d12bd65a46c846de9dcb5109f7ce3b3089a889f3ad5224b41">
                  <div *ngIf="hash.touched && hash.invalid" class="pl-2 text-danger">
                    <small>Please enter a Hash in format: caf6edec6897869d12bd65a46c846de9dcb5109f7ce3b3089a889f3ad5224b41
                    </small>
                  </div>
                </div>
              </div>

              <br>
              <br>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label class="pl-2" for="amount">Amount (USD)</label>
                  <input #amount="ngModel" type="text" pattern="[0-9]*" [class.is-invalid]="amount.invalid && amount.touched" [(ngModel)]="model.amount"
                    required name="amount" class="form-control" placeholder="50000" value="">
                </div>
                <div *ngIf="amount.touched && amount.invalid" class="pl-2 text-danger">
                  <small *ngIf="amount.hasError('required')">Please enter an Amount.</small>
                  <small *ngIf="amount.hasError('pattern')">Please enter a valid Amount in number format.</small>
                </div>
              </div>

              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label class="pl-2" for="expectedPayment">Expected Payment (Zest)</label>
                  <input #expectedPayment="ngModel" type="text" pattern="[0-9]*" [class.is-invalid]=" expectedPayment.invalid && expectedPayment.touched
                  " [(ngModel)]="model.expectedPayment" required name="expectedPayment" class="form-control" placeholder="50000">
                </div>
                <div *ngIf="expectedPayment.touched && expectedPayment.invalid" class="pl-2 text-danger">
                  <small *ngIf="expectedPayment.hasError( 'required')">Please enter a Payment.</small>
                  <small *ngIf="expectedPayment.hasError( 'pattern')">Please enter a valid Payment in number format.</small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="pl-2" for="shortDescription">Short Description</label>
                  <textarea #shortDescription="ngModel" minlength="8" required [class.is-invalid]="shortDescription.invalid
                    && shortDescription.touched" name="shortDescription" cols="30" rows="6" [(ngModel)]="model.shortDescription"
                    required name="shortDescription" class="form-control" placeholder="A Short description of the payment."></textarea>

                  <div *ngIf="shortDescription.invalid && shortDescription.touched" class="pl-0 text-danger">
                    <small *ngIf="shortDescription?.errors.required">Please enter a Short Description.</small>
                    <small *ngIf="shortDescription?.errors.minlength">Please enter a Short Description longer than 8 characters.</small>
                  </div>

                </div>
                <button type="submit" class="btn btn-info" [disabled]="proposalPaymentsForm.invalid">Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <!-- Link to Proposal payments frontend -->
            <a href="">
              <img class="details-img" src="../../assets/img/logo.png" alt="...">
              <h5 class="title">Zest</h5>
            </a>
            <p class="description">
              Proposal Payments
            </p>
          </div>
          <p class="description text-center">
            Add the payment data for individual Proposals.
          </p>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>