.details-img {
    width: 5rem;
    position: relative;
}

.card-user .card-body {
    min-height: 197px;
}

th {
    font-size: 0.9rem !important;
    font-weight: 400 !important;
}

.card {
    padding: 12px !important;
}
